services:
  db:
    image: postgres:15-alpine
    container_name: greenops-db
    env_file:
      - .env
    environment:
      POSTGRES_DB: greenops
      POSTGRES_USER: greenops
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U greenops -d greenops"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: greenops-server
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    command: >
      sh -c "
      echo 'Waiting for DB...' &&
      sleep 3 &&
      gunicorn -c gunicorn.conf.py server.main:app
      "

  nginx:
    image: nginx:alpine
    container_name: greenops-nginx
    ports:
      - "80:80"
    volumes:
      - ./dashboard:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
    restart: unless-stopped

volumes:
  postgres_data:

